.toolbar {
  display: flex;
  justify-content: flex-end;
}

.link,
.activeLink {
  margin-left: 10px;
}

.s-icon {
  margin-right: auto;
}

.activeLink {
  color: #19c0c0;
}

.largeLink {
  text-decoration: underline;
}

.smallLink {
  text-decoration: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
