body {
  overflow: auto;
}

.link {
  text-decoration: none;
  color: black;
}

/* Footer */
footer {
  text-align: center;
  margin-top: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Icons */

.icon:hover {
  transform: scale(1.5);
  color: #19c0c0;
}

/* Skills Icons */

.icons {
  display: grid;
  gap: 70px 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 10%;
}

.icons img {
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

/* Contact Me and Buttons */

.contact-form,
.buttons {
  margin-bottom: 15%;
}

/* Contact Me and Portfolio and Buttons */

.portfolio h1,
.buttons,
.contactTitle {
  text-align: center;
}

/* Buttons and About-Me Button */

.button:hover {
  background-color: #19c0c0 !important;
}

/* Carousel */

.carousel {
  margin: 0 auto;
}

.carousel,
.carousel img,
.carousel video {
  height: 200px;
  width: 300px;
}

.carousel .control-next.control-arrow,
.carousel .control-next.control-arrow:hover,
.carousel .control-prev.control-arrow,
.carousel .control-prev.control-arrow:hover {
  background-color: transparent;
}

.carousel .control-prev.control-arrow:before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel .control-next.control-arrow:before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media only screen and (min-width: 375px) {
  .carousel,
  .carousel img,
  .carousel video {
    height: 250px;
    width: 350px;
  }
}

@media only screen and (min-width: 425px) {
  .carousel,
  .carousel img,
  .carousel video {
    width: 400px;
  }

  .icons {
    margin-top: 12%;
  }
}

@media only screen and (min-width: 600px) {
  .carousel,
  .carousel img,
  .carousel video {
    height: 350px;
    width: 570px;
  }

  .icons {
    margin-top: 10%;
  }

  .contact-form {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .carousel,
  .carousel img,
  .carousel video {
    width: 740px;
  }

  .icons {
    margin-top: 15%;
  }

  .contact-form {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .carousel,
  .carousel img,
  .carousel video {
    height: 500px;
    width: 950px;
  }
}

@media only screen and (min-width: 1024px) {
  .carousel,
  .carousel img,
  .carousel video {
    height: 410px;
    width: 1000px;
  }

  .icons {
    margin-top: 8%;
  }

  .contact-form {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel,
  .carousel img,
  .carousel video {
    width: 1100px;
  }

  .buttons {
    margin-bottom: 0;
  }

  .contact-form {
    margin-bottom: 10%;
  }
}