body {
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: black;
}

.icon:hover {
  transform: scale(1.5);
  color: #19c0c0;
}

.portfolio h1,
.contactTitle,
footer {
  text-align: center;
}
